*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


.main{
    background-color: white;
}

.upper-main{
    background-color: white;    
}

.upper{
    background-color: white;
    width: 100%;
    align-items: center;
    height: 100px;
    padding: 30px 0px;
}

.upper-h1{
    width: 50%;
    color: black;
    margin: auto;
    text-align: center;
}

.lower{
    width: 100%;
    
}

#for{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 20px auto;
}

#task,#date,#time{
    margin: 10px 10px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid black;
    outline: none;
    background-color: transparent;
    color: black;
}

#btn{
    margin: 10px 10px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid black;
    outline: none;
    color: black;
    background-color: transparent;
    cursor: pointer;
}



.lower-main{
    padding: 1px;
}

#show{
    width: 50%;
    margin: 10px auto;
    padding: 1px;
}

#box{
    display: flex;
    background-color: black;
    padding: 10px;
    margin: 10px;
    color: white;
    border-radius: 10px;
}

#first{
    display: flex;
    width: 90%;
    justify-content: space-around;
}

#second{
    width: 10%;
    display: flex;
    font-size: 20px;
    justify-content: space-around;
}

#del,#update{
    cursor: pointer;
}