/* #main {
    width: 90%;
    margin: 3% auto;
    display: flex;
    flex-wrap: wrap;
  }
  
  #box {
    width: 47%;
    text-align: center;
    color: white;
    border-radius: 10px;
    box-shadow: rgba(255, 0, 0, 0.35) 0px 5px 15px;
    margin: 20px;
    position: relative;
  }
  
  #head {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 5px 0px;
  }
  #title {
    width: 80%;
    text-align: left;
    padding: 0px 10px;
    height: 100%;
  }
  
  #cart {
    width: 20%;
    height: 100%;
  }
  
  #cart > .bi {
    font-size: 25px;
    color: white;
    cursor: pointer;
  }
  
  #cart > .bi:hover {
    color: red;
  }
  
  #img {
    text-align: center;
    border-radius: 10px;
    box-shadow: rgba(255, 0, 0, 0.35) 0px 5px 15px;
    transition: transform 0.5s;
    width: 85%;
    object-fit: contain;
    height: 200px;
  }
  
  #img:hover {
    transform: scale(1.05);
  }
  
  #price {
    margin: 20px 0 50px 0;
    width: 100%;
    text-align: left;
    padding: 0px 10px;
  }
  #price:hover {
    background-color: black;
  }
  
  #menu {
    width: 100%;
    display: flex;
    margin: 10px 0px;
    position: absolute;
    bottom: 0;
    justify-content: space-evenly;
  }
  #category {
    width: 40%;
    border: 2px solid red;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: rgba(255, 0, 0, 0.35) 0px 5px 15px;
  }
  
  #category:hover {
    background-color: red;
  }
  
  #buybtn {
    background-color: black;
    border: 2px solid red;
    border-radius: 20px;
    color: white;
    width: 40%;
    box-shadow: rgba(255, 0, 0, 0.35) 0px 5px 15px;
  }
  
  #buybtn:hover {
    background-color: red;
  }
   */

#main {
  width: 90%;
  margin: 3% auto;
  display: flex;
  flex-wrap: wrap;
}

#box {
  width: 47%;
  text-align: center;
  color: white;
  border-radius: 10px;
  box-shadow: rgba(255, 0, 0, 0.35) 0px 5px 15px;
  margin: 20px;
  display: flex;
}

#head {
  width: 25%;
}

#img {
  width: 100%;
}

#center {
  width: 40%;
}

#midcenter {
  width: 20%;
  display: flex;
  height: 100%;
  align-items: center;
  margin: auto;
}

#minus{
   font-size: 5px;
    /* margin-left: 5px; */
    border: 2px solid red;
    border-right: none;
    cursor: pointer;
}
#qty {
  width: 30%;
  height: 48px;
  background-color: transparent;
  border-top: 2px solid red;
  border-bottom: 2px solid red;
  border-left: none;
  border-right: none;
  color: red;
  text-align: center;
}

/* input{
  text-align: center;
} */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#qty:focus{
    outline: none;
}
#plus{
    border: 2px solid red;
    border-left: none;
    cursor: pointer;
}

#left {
  width: 15%;
}

#del {
  color: white;
}
