* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body {
  font-family: montserrat;
}
nav {
  background: white;
  height: 80px;
  width: 100%;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
label.logo {
  color: black;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}
nav ul {
  float: right;
  margin-right: 20px;
}
nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a {
  color: black;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
a.active,
a:hover {
  background: #706e6e;
  transition: 0.5s;
}
.checkbtn {
  font-size: 30px;
  color: black;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}
@media (max-width: 952px) {
  label.logo {
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a {
    font-size: 16px;
  }
}
@media (max-width: 858px) {
  .checkbtn {
    display: block;
  }
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #919394;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 20px;
  }
  a:hover,
  a.active {
    background: none;
    color: #0082e6;
  }
  #check:checked ~ ul {
    left: 0;
  }
}

/* -------------second-bar-------------------- */

.second-bar {
  width: 100%;
  margin: 10px auto;
  height: 40px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.left {
  width: 48%;
}

span {
  position: relative;
}

.menu-bar {
  position: absolute;
  background-color: white;
  border-radius: 10px;
  width: 130px;
  color: black;
  overflow: hidden;
  top: 130px;
  cursor: pointer;
  font-size: 16px;
  border: 2px solid black;
}

hr {
  margin: 0;
  color: black;
}

p {
  text-align: center;
  margin: 0px;
  padding: 5px;
  color: black;
}

p:hover {
  background-color: black;
  color: white;
}

.carte{
  display: block;
  text-align: center;
}


.right {
  width: 48%;
  text-align: end;
}

i {
  cursor: pointer;
}

.search-box {
  width: 15%;
  height: 25px;
  text-align: center;
  margin: 0px 10px;
  border: 2px solid black;
  border-radius: 10px;
}

.hidden{
  display: none;
}

/* -------------second-bar-end------------------- */

/* -------------------main---------------------------- */

.main {
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 10px auto;
}

#box {
  margin: 10px auto;
  width: 15%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  text-align: center;
  border-radius: 10px;
}

#title {
  margin: 10px auto;
}

#image {
  width: 90%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
  margin: 10px auto;
}

#img {
  margin: 10px auto;
  height: 200px;
  width: 100%;
}

#pri {
  width: 90%;
  margin: auto;
}
#price {
  margin: 10px auto;
  text-align: left;
}

#bott {
  margin: 10px auto;
  display: flex;
  width: 90%;
  justify-content: space-evenly;
}

#del,
#cart {
  width: 40%;
  height: 30px;
  cursor: pointer;
  border-radius: 10px;
  border: 2px solid black;
  background-color: transparent;
}
