.container {
  margin-top: 3%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
}

.form_area {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
  height: auto;
  width: 500px;
  border: 2px solid #000000;
  border-radius: 20px;
  box-shadow: 3px 4px 0px 1px #ffffff;
}

.title {
  color: #000000;
  font-weight: 900;
  font-size: 1.5em;
  margin-top: 20px;
}

.sub_title {
  font-weight: 600;
  margin: 5px 0;
}

.form_group {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin: 10px;
}

.form_style {
  outline: none;
  border: 2px solid #000000;
  box-shadow: 3px 4px 0px 1px #000000;
  width: 450px;
  padding: 12px 10px;
  border-radius: 4px;
  font-size: 15px;
}

.form_style:focus,
.btn:focus {
  transform: translateY(4px);
  box-shadow: 1px 2px 0px 0px #000000;
}

.btn {
  padding: 15px;
  margin: 25px 0px;
  width: 450px;
  font-size: 15px;
  background: #ff0000;
  border-radius: 10px;
  font-weight: 800;
  cursor: pointer;
  box-shadow: 3px 3px 0px 0px #000000;
}

.btn:hover {
  opacity: 0.9;
}

/* js style */

.show {
  width: 500px;
  margin:20px auto;
  overflow: hidden;
  border-radius: 10px;
  border: 2px solid black;
  box-shadow: 3px 4px 0px 1px #ffffff;
}

#box {
  width: 100%;
  text-align: center;
  font-size: 17px;
  padding: 5px;
  margin: auto;
  background-color: white;
}

#cat {
  width: 40%;
  margin: 10px 0px;
}
#AddGroup {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 18px;
  justify-content: space-evenly;
}

#del{
    cursor: pointer;
}